# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

### Topic: Building Recommendation Systems for eCommerce
### Project link:

https://drive.google.com/file/d/1O5wSSYrw84Dpv2iaR5XzMz1ll0LgXBYK/view

### Who

The audience is the data science and product teams at a mid/large e-commerce or gaming platform 
companies like Amazon, Target, Olist, or Nintendo, Steam, or XBox. Specifically, I will target the 
lead data scientist who oversees recommendation algorithms, and a product manager responsible for personalization. 
These people are directly responsible for improving user satifaction with their platforms and conversion through
better recommendations, so they would benefit most from exploratory insights that could uncover overlooked patterns 
or opportunities for better user data modelling.

### What

This project investigates how machine learning can enhance product recommendation systems in ecommerce by 
analysing real world data on user reivews, puchase behavior, product attributes, and sales. Using the following three
datasets: Steam video game recommendations, Worldwide video game sales, and Olist retail data, I will explore the product categories
and game genres that are most popular across different regions. I will also look at which features (ratings, timing, genre, price)
correlate strongly with success measures like purchases or high review ratings. The goal is to uncover meaningful patterns that can inform
how we model user preferences and improve personalization within online sales.

### How

I can deliver a structured report (slideument) or Jupyter notebook with clear annotated visuals, key takeaways, and a 
short conclusive summary of insights from the data. I'll compare how user interaction data, sales performance, and transactional behavior 
vary across the gaming and retail domains to answer the question: What product categories or game genres are most popular across regions? The intent is not to pitch a model yet, but to highlight promising trendsâ€”that could guide future
recommendation system development and prioritize which features to engineer or model next.

# 3. Homework - work with your own data

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import kagglehub
import os

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 0)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [2]:
# helper function to display mean, median, mode of a df
def df_mmm_stats(df):
    numeric_df = df.select_dtypes(include="number")

    means = numeric_df.mean()
    medians = numeric_df.median()
    modes = numeric_df.mode().iloc[0] # get da first mode, don"t really care baout the others

    summary_stats = pd.DataFrame({"mean": means, "median": medians,"mode": modes}).round(2) # two decimal places

    return summary_stats

In [3]:
olist_dataset_link = "olistbr/brazilian-ecommerce"
vgrecs_dataset_link = "antonkozyriev/game-recommendations-on-steam"
vgsales_dataset_link = "ashaheedq/video-games-sales-2019"

olist_path = kagglehub.dataset_download(olist_dataset_link)
vgrec_path = kagglehub.dataset_download(vgrecs_dataset_link)
vgsales_path = kagglehub.dataset_download(vgsales_dataset_link)

print(olist_path)
print(vgrec_path)
print(vgsales_path)

/Users/amit/.cache/kagglehub/datasets/olistbr/brazilian-ecommerce/versions/2
/Users/amit/.cache/kagglehub/datasets/antonkozyriev/game-recommendations-on-steam/versions/28
/Users/amit/.cache/kagglehub/datasets/ashaheedq/video-games-sales-2019/versions/2

## Loading and Merging Datasets

In [4]:
# Video Game Sales DFs
vgsales_df_raw = pd.read_csv(os.path.join(vgsales_path, "vgsales-12-4-2019-short.csv"))

# Video Game Recommendation DFs
vgrecs_recs_df_raw = pd.read_csv(os.path.join(vgrec_path, "recommendations.csv")) # merge with users based on "user_id" into vgrecs_merged_df_raw, add "users_" prefix to users.csv columns
vgrecs_users_df_raw = pd.read_csv(os.path.join(vgrec_path, "users.csv"))
vgrecs_games_df_raw = pd.read_csv(os.path.join(vgrec_path, "games.csv")) # merge with vgrecs_merged_df_raw on "app_id"

vgrecs_merged_df = vgrecs_recs_df_raw.merge(vgrecs_users_df_raw, on="user_id", how="left")
vgrecs_merged_df = vgrecs_merged_df.merge(vgrecs_games_df_raw, on="app_id", how="left")

# Olist DFs
olist_products_df_raw = pd.read_csv(os.path.join(olist_path, "olist_products_dataset.csv"))
olist_translation_df_raw = pd.read_csv(os.path.join(olist_path, "product_category_name_translation.csv"))
olist_reviews_df_raw = pd.read_csv(os.path.join(olist_path, "olist_order_reviews_dataset.csv"))
olist_orders_df_raw = pd.read_csv(os.path.join(olist_path, "olist_orders_dataset.csv"))
olist_geolocation_df_raw = pd.read_csv(os.path.join(olist_path, "olist_geolocation_dataset.csv"))
olist_customers_df_raw = pd.read_csv(os.path.join(olist_path, "olist_customers_dataset.csv"))
olist_items_df_raw = pd.read_csv(os.path.join(olist_path, "olist_order_items_dataset.csv"))
olist_payments_df_raw = pd.read_csv(os.path.join(olist_path, "olist_order_payments_dataset.csv"))
olist_sellers_df_raw = pd.read_csv(os.path.join(olist_path, "olist_sellers_dataset.csv"))

# Merge the product categories with their english translations
olist_products_df = (olist_products_df_raw.merge(olist_translation_df_raw, how="left", on="product_category_name"))
# Merge the products with the order items so we know what the orders contained
olist_order_lines_df = (olist_items_df_raw.merge(olist_products_df, how="left", on="product_id"))
# Merge the orders with the orders" customer ID, date, and order ID so we can merge it with the customer locations later
olist_order_lines_df = olist_order_lines_df.merge(olist_orders_df_raw[["order_id", "customer_id", "order_purchase_timestamp"]], how="left", on="order_id")
# Merge the orders with the customer data
olist_order_lines_df = olist_order_lines_df.merge(olist_customers_df_raw[["customer_id", "customer_unique_id", "customer_state"]],how="left",on="customer_id")
olist_merged_df = olist_order_lines_df.merge(olist_reviews_df_raw[["order_id", "review_score", "review_creation_date", "review_answer_timestamp"]], how="left", on="order_id")

# Processing the Video Game Sales Dataset

## Features (from kaggle)
| Column Name    | Description                                             |
|----------------|---------------------------------------------------------|
| Rank           | Ranking of overall sales                                |
| Name           | Name of the game                                        |
| Platform       | Platform of the game (i.e. PC, PS4, XOne, etc.)         |
| Genre          | Genre of the game                                       |
| ESRB Rating    | ESRB Rating of the game                                 |
| Publisher      | Publisher of the game                                   |
| Developer      | Developer of the game                                   |
| Critic Score   | Critic score of the game out of 10                      |
| User Score     | Users score the game out of 10                          |
| Total Shipped  | Total shipped copies of the game                        |
| Global_Sales   | Total worldwide sales (in millions)                     |
| NA_Sales       | Sales in North America (in millions)                    |
| PAL_Sales      | Sales in Europe (in millions)                           |
| JP_Sales       | Sales in Japan (in millions)                            |
| Other_Sales    | Sales in the rest of the world (in millions)            |
| Year           | Year of release of the game                             |

In [ ]:
# Summary Stats
vgsales_df_raw.info()
vgsales_df_raw.describe(include="all")

In [ ]:
# view the df
vgsales_df_raw.sample(10)

In [ ]:
# Checking for duplicate rows
print("Duplicate rows in vgsales:", vgsales_df_raw.duplicated().sum())

# No duplicates yeehaw

In [ ]:
# Mean, median, mode
df_mmm_stats(vgsales_df_raw)

In [ ]:
# Identifying nulls
print("Video Game Sale Null Counts:")
print(vgsales_df_raw.isna().sum())
print(vgsales_df_raw.shape)
sales_scores_cols = [
    "Critic_Score", "User_Score",
    "Total_Shipped", "Global_Sales",
    "NA_Sales", "PAL_Sales", "JP_Sales", "Other_Sales"
]

# Count rows where all of the performance column values (sales_scores_cols) are null
all_null_sales_scores = vgsales_df_raw[sales_scores_cols].isna().all(axis=1).sum()
print("Rows where all sales/scores are MISSING:", all_null_sales_scores)


# Of the 55792 rows in the Video Game Sale dataset, 32794 rows have missing performance metrics for
# the whole row (e.g. scores, sales).This reduces the number of usable rows in the dataset (with at 
# least one performance metric) down to 55792 - 32794 = 22998 rows.
# RANK CAN BE USED AS PERFORMANCE METRIC I GUESS


# Count rows where all of the performance column values are present
all_present_sales_scores = vgsales_df_raw[sales_scores_cols].notna().all(axis=1).sum()
print("Rows with all sales/scores PRESENT:", all_present_sales_scores)


# Count rows where both Critic_Score and User_Score are NOT null
both_scores_present = vgsales_df_raw[vgsales_df_raw["Critic_Score"].notna() & vgsales_df_raw["User_Score"].notna()].shape[0]
print("Rows with BOTH Critic_Score and User_Score present:", both_scores_present)


# Drop rows with null "Year", should only be 17 rows discarded
vgsales_df_cleaned = vgsales_df_raw.dropna(subset=["Year"])

# Fill null ESRB ratings with "RP" --> rating pending
vgsales_df_cleaned["ESRB_Rating"] = vgsales_df_cleaned["ESRB_Rating"].fillna("RP")

# Null Developer values to "Unknown"
vgsales_df_cleaned["Developer"] = vgsales_df_cleaned["Developer"].fillna("Unknown")

# Null sales values become 0:
sales_cols = ["Global_Sales", "NA_Sales", "PAL_Sales", "JP_Sales", "Other_Sales"]
vgsales_df_cleaned[sales_cols] = vgsales_df_cleaned[sales_cols].fillna(0)

In [ ]:
# Handling inconsistencies

# Drop rows for any years that are in the future (>2025) or past
vgsales_df_cleaned = vgsales_df_cleaned[vgsales_df_cleaned["Year"] <= 2025]


# Ensure that the Global_Sales is not less than the sum of NA_Sales, PAL_Sales, JP_Sales, and Other_Sales
regional_cols = ["NA_Sales", "PAL_Sales", "JP_Sales", "Other_Sales"]
# sum the sales of the regions
regional_sum = (vgsales_df_cleaned["NA_Sales"] + vgsales_df_cleaned["PAL_Sales"] + vgsales_df_cleaned["JP_Sales"] + vgsales_df_cleaned["Other_Sales"])
# drop row if the global sales value is less thaen the regional sales value
num_dropped_sales_rows = (vgsales_df_cleaned["Global_Sales"] < regional_sum).sum()
print(f"Dropped {num_dropped_sales_rows} rows where the global sales value was less than the sum of sales in America, Europe, Japan, and other.")
vgsales_df_cleaned = vgsales_df_cleaned[vgsales_df_cleaned["Global_Sales"] >= regional_sum]

# Drop "total shipped" column, it has too many nulls and doesn't tell us anything helpful
vgsales_df_cleaned = vgsales_df_cleaned.drop("Total_Shipped", axis=1)

In [ ]:
# Check nulls again:
print("Video Game Sale Null Counts:")
print(vgsales_df_cleaned.isna().sum())
vgsales_df_cleaned.sample(10)

In [ ]:
# View the unique values to make sure they make sense
categorical_cols = [
    "Platform",
    "Genre",
    "ESRB_Rating",
    "Publisher",
    "Developer"
]
for col in categorical_cols:
    unique_vals = vgsales_df_cleaned[col].unique()
    print(f"\nColumn: {col}")
    print(f"Number of unique values: {len(unique_vals)}")
    print(unique_vals)

In [ ]:
# Check how many times each type of platform so we can figue out how to encode it
print(vgsales_df_cleaned['Platform'].value_counts().to_string())

# Probably top n encoding, up to 15 of the top platforms

In [ ]:
# Create a new df with encoded categorical variables for modelling later
vgsales_df_cleaned_encoded = vgsales_df_cleaned.copy()

# One hot encode Genre and ESRB_Rating
vgsales_df_cleaned_encoded = pd.get_dummies(vgsales_df_cleaned_encoded, columns=['Genre', 'ESRB_Rating'], prefix=['Genre', 'ESRB'])

# Top n encode the platform
top_platforms = vgsales_df_cleaned_encoded['Platform'].value_counts().nlargest(10).index
vgsales_df_cleaned_encoded['Platform'] = vgsales_df_cleaned_encoded['Platform'].where(vgsales_df_cleaned_encoded['Platform'].isin(top_platforms), other='Other')
vgsales_df_cleaned_encoded = pd.get_dummies(vgsales_df_cleaned_encoded, columns=['Platform'], prefix='Platform')

# Frequency encode publisher and developer
for col in ['Publisher', 'Developer']:
    freq_map = vgsales_df_cleaned_encoded[col].value_counts(normalize=True)
    vgsales_df_cleaned_encoded[col + '_freq'] = vgsales_df_cleaned_encoded[col].map(freq_map)
# Drop original columns
vgsales_df_cleaned_encoded = vgsales_df_cleaned_encoded.drop(columns=['Publisher', 'Developer'])

In [ ]:
vgsales_df_cleaned_encoded.sample(10)

In [ ]:
# can use this to create a df with no missing critic and user scores for better EDA later. I will keep all the other values in for now
vgsales_eda_df = vgsales_df_cleaned.dropna(subset=['Critic_Score', 'User_Score'])

In [ ]:
# Showing there is a class imbalance inthe platform, since 20% are PC. but this isn't going to be a target, so it doesnt matter.
vgsales_df_cleaned['Platform'].value_counts(normalize=True)

## Conclusions:
### The data is usable and helpful. There are different success metrics such as rank, global sales, and some critics/user score. Rank is likely going to be the target variable for most models. The data was modified and corrected as needed, and a copy of the data was encoded for use later in models. There is a class imbalance for the Platform feature, where 20% of the data's games are made for PC. but we will be using this as a feature, not a target, so it is irrelevant.

# Processing the Video Game Recommendations Dataset

## Features
| Column Name     | Data Type  | Description                                                   |
|----------------|------------|---------------------------------------------------------------|
| app_id         | int64      | Unique game identifier on Steam                               |
| helpful        | int64      | How many users found the recommendation helpful               |
| funny          | int64      | How many users found the recommendation funny                 |
| date           | object     | Date of publishing                                            |
| is_recommended | bool       | Is the user recommending the product?                         |
| hours          | float64    | How many hours played by the reviewing user                   |
| user_id        | int64      | User's anonymized ID                                          |
| review_id      | int64      | Autogenerated ID for the review itself                        |
| products       | int64      | Number of games/add-ons purchased by the user                 |
| reviews        | int64      | Number of reviews published by the reviewing user             |
| title          | object     | Name of the game being reviewed                               |
| date_release   | object     | Game's date of release                                        |
| win            | bool       | Supports Windows OS                                           |
| mac            | bool       | Supports Mac OS                                               |
| linux          | bool       | Supports Linux OS                                             |
| rating         | object     | Product rating category                                       |
| positive_ratio | int64      | Ratio of positive feedbacks (%)                               |
| user_reviews   | int64      | Number of user reviews available on the Steam page            |
| price_final    | float64    | Price in US dollars ($) calculated after the discount         |
| price_original | float64    | Price in US dollars ($) before the discount                   |
| discount       | float64    | Discount percentage                                            |
| steam_deck     | bool       | Supports the Steam Deck                                       |

In [ ]:
vgrecs_merged_df.sample(10)

In [ ]:
# Acknowledge date
vgrecs_merged_df['date_release'] = pd.to_datetime(vgrecs_merged_df['date_release'], errors='coerce')

In [ ]:
# Summary Stats
vgrecs_merged_df.info()
vgrecs_merged_df.describe(include="all")

# everything looks normal, all numerical columns are within acceptable ranges

In [ ]:
# Checking columns for duplicate values
print("Duplicate rows in vgrecs:", vgrecs_merged_df.duplicated().sum())

# Check if there are any duplicated game names with the same app_id
vgrecs_merged_df[vgrecs_merged_df.duplicated(subset=["app_id", "title"], keep=False)]

# No duplicates

In [ ]:
# Check if there are any duplicated reviews
vgrecs_merged_df[vgrecs_merged_df.duplicated("review_id", keep=False)]

# None are duplicated

In [ ]:
# Mean, median, mode
df_mmm_stats(vgrecs_games_df_raw)

In [ ]:
# Video Game Recommendation Null Counts:
print(vgrecs_merged_df.isna().sum())
print(vgrecs_merged_df.shape)

# Perfect data, hallelujah
# No values to impute

In [ ]:
# Identify inconsistent/unusable data

# check for any invalid dates
print("Number of missing date_release:", vgrecs_merged_df['date_release'].isna().sum())

# verify unique values
print(vgrecs_merged_df.shape[0])
for col in ["review_id", "user_id", "app_id", "date_release", "rating"]:
    unique_vals = vgrecs_merged_df[col].unique()
    print(f"{col}: {len(unique_vals)}")

# everything looks normal here too

In [ ]:
vgrecs_merged_df

In [ ]:
# Encoding categorical variables

vgrecs_merged_df_encoded = vgrecs_merged_df.copy()

# Ordinal encode the review rating
# get unique values
vgrecs_merged_df["rating"].unique()
# create a map to encode numbers to values
rating_order = ['Overwhelmingly Negative', 'Very Negative', 'Mostly Negative', 'Negative', 'Mixed', 'Positive', 'Mostly Positive', 'Very Positive', 'Overwhelmingly Positive']
rating_map = {label: idx for idx, label in enumerate(rating_order)}
print(rating_map)
# apply the mapping (low numbers are low ratings, high numbers are high ratings - easy to rememeber)
vgrecs_merged_df_encoded['rating_encoded'] = vgrecs_merged_df_encoded['rating'].map(rating_map)

In [ ]:
# Showing there is a significant class imbalance in the rating values, since 50% are overwhelmingly positive.
# This will be taken into consideration when modelling (balancing class weights)
vgrecs_merged_df['rating'].value_counts(normalize=True)

In [ ]:
vgrecs_merged_df.columns

In [ ]:
# Showing there is also significant class imbalance in the is_recommended values, since 80% are True.
# Because anything above a "mixed" rating will likely also be recommended, this imbalance can be taken 
# into consideration when generating the model by enabling the class weights parameter or resampling the data.
vgrecs_merged_df['is_recommended'].value_counts(normalize=True)

## Conclusions

### The data is very clean and will be perfect for my use case. There are no null values, duplicates, or inconsistencies. None of the data needs to be modified in any way prior to usage, with the exception of needing to ordinally encode the review rating to a number. There is a very large class imbalance on the outputs, but we can but we can apply class weighting to ensure the model doesn't just learn the dominant class. We can also use ensemble methods like Random Forests or XGBoost, which handle imbalanced data better than naive models like regression or something.

# Processing the Olist eCommerce Dataset

## Features

| Column Name                   | Data Type | Description                                                                                      |
|------------------------------|-----------|--------------------------------------------------------------------------------------------------|
| order_id                     | object    | Unique ID of the order                                                                           |
| order_item_id                | int64     | Sequential number identifying number of items in the same order                                  |
| product_id                   | object    | Unique product identifier                                                                         |
| seller_id                    | object    | Seller unique identifier                                                                          |
| shipping_limit_date          | object    | Seller shipping limit date for handing the order to the logistic partner                         |
| price                        | float64   | Item price                                                                                        |
| freight_value                | float64   | Item freight value (split between items if multiple)                                             |
| product_category_name        | object    | Root category of product (in Portuguese)                                                         |
| product_name_lenght          | float64   | Number of characters in the product name                                                         |
| product_description_lenght  | float64   | Number of characters in the product description                                                  |
| product_photos_qty           | float64   | Number of published product photos                                                               |
| product_weight_g             | float64   | Product weight in grams                                                                          |
| product_length_cm            | float64   | Product length in centimeters                                                                    |
| product_height_cm            | float64   | Product height in centimeters                                                                    |
| product_width_cm             | float64   | Product width in centimeters                                                                     |
| product_category_name_english| object    | Product category name in English                                                                 |
| customer_id                  | object    | Key to the orders dataset; each order has a unique customer_id                                   |
| order_purchase_timestamp     | object    | Purchase timestamp                                                                                |
| review_creation_date         | object    | Date the satisfaction survey was sent to the customer                                            |
| review_answer_timestamp      | object    | Timestamp of the customer's survey response                                                      |
| customer_unique_id           | object    | Unique identifier of a customer                                                                  |
| customer_state               | object    | Customer's state/province in Brazil (2-letter abbreviation)                                      |
| review_score                 | float64   | Score from 1 to 5 given by the customer on the satisfaction survey                               |

In [ ]:
#subtract review_creation time from order_purchase_timestamp to get time between purchase and survey sent

In [5]:
# View the df
print(olist_merged_df.shape)
olist_merged_df.sample(10)

(113314, 23)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,customer_id,order_purchase_timestamp,customer_unique_id,customer_state,review_score,review_creation_date,review_answer_timestamp
80640,b66045a5fb8e241a3a6ed1b80d90a456,1,7b32b1b87594b60dced8abb4531d2986,c9c7905cffc4ef9ff9f113554423e671,2018-02-01 20:12:22,119.99,8.09,telefonia,51.0,419.0,1.0,350.0,16.0,6.0,11.0,telephony,6c3a8830c60ff06ef8ad5f6dbe66de70,2018-01-28 20:02:23,c78640cabd63c4eba3b518c4dc4b7031,SP,1.0,2018-02-01 00:00:00,2018-02-04 18:49:25
72474,a4591c265e18cb1dcee52889e2d8acc3,1,060cb19345d90064d1015407193c233d,8581055ce74af1daba164fdbd55a40de,2017-07-13 22:10:13,147.90,27.36,automotivo,49.0,608.0,1.0,7150.0,65.0,10.0,65.0,auto,503740e9ca751ccdda7ba28e9ab8f608,2017-07-09 21:57:05,80bb27c7c16e8f973207a5086ab329e2,PR,4.0,2017-07-27 00:00:00,2017-07-27 22:48:30
101486,e4be5aacc6848e44f045dfeb0e005447,2,e6b314a2236c162ede1a879f1075430f,897060da8b9a21f655304d50fd935913,2018-02-27 03:31:40,23.48,7.42,informatica_acessorios,47.0,284.0,1.0,167.0,24.0,14.0,11.0,computers_accessories,547fdf3f3b5ff52d847e7dc145b31766,2018-02-19 19:02:56,c7b4749501147c8b69fd551ac98b3a6e,SP,3.0,2018-03-06 00:00:00,2018-03-07 02:23:35
23724,35bb1b3031083af8db2b6b4f25ada550,1,780130a191b7abd450d121ac7290d15b,e882b2a25a10b9c057cc49695f222c19,2018-03-29 13:08:37,914.00,34.98,eletrodomesticos_2,32.0,111.0,1.0,14000.0,49.0,12.0,31.0,home_appliances_2,14f59a556c171e1fa252927f21308bbb,2018-03-18 12:50:26,065f84fa4c6cf58cdb7d2f1f6fc21f1e,RJ,5.0,2018-03-24 00:00:00,2018-03-26 12:16:47
91913,cf50fec98e2167d836c09c0ed57ba841,1,abb9d7140478c19fd773dc14e8071abd,7a67c85e85bb2ce8582c35f2203ad736,2017-08-31 15:24:23,12.99,9.34,cool_stuff,43.0,199.0,1.0,200.0,20.0,13.0,20.0,cool_stuff,369708cabd9831ea6fde670a3b602a92,2017-08-27 15:05:33,94b731a41867b47c3856e324840c4c99,SP,5.0,2017-08-30 00:00:00,2017-09-03 22:24:01
74046,a7c26d6524d448da94b7ad45ad722167,1,c0aed8767e46cce56e77db0ceef83035,cda598c48d7c614bc1cad7d8ff6f0010,2018-03-26 23:48:00,79.90,18.44,automotivo,57.0,784.0,5.0,500.0,16.0,16.0,11.0,auto,dd846ed066a933c640205ff9258cbc73,2018-03-19 23:29:47,0d5d526f0fd183734774068d7f359d6f,DF,4.0,2018-04-04 00:00:00,2018-04-05 12:19:21
3985,08ea06da9974b971f8fad4929380e24b,1,592962829d5a715304344e656e39108a,8160255418d5aaa7dbdc9f4c64ebda44,2017-11-30 21:38:30,116.90,16.58,cama_mesa_banho,56.0,255.0,1.0,1750.0,30.0,5.0,30.0,bed_bath_table,cef90a63b305fc7abea62dd395a056f7,2017-11-24 18:30:10,e9b83c5c52887dcf92bcf50ab1ff1ee8,RJ,5.0,2017-12-14 00:00:00,2017-12-16 21:02:57
83462,bc64222f8431b055190650c8778f6efa,1,4c8b28305f570899b6ded964ddd234a9,ccf8813e5a7d6c84d865cd38bfc2b130,2018-01-03 13:31:06,89.90,12.97,moveis_decoracao,51.0,767.0,4.0,550.0,34.0,6.0,23.0,furniture_decor,0e75ea874d514eed9be0dcbc2d02debe,2017-12-27 13:22:54,af072509e9646a5e607a5a4df12a9c24,SP,5.0,2018-01-05 00:00:00,2018-01-05 18:55:26
16749,2618381879ed242e21138d73f79374d2,1,e2c3ed9aaddfd2312a6a5fe9b3ddadd3,46dc3b2cc0980fb8ec44634e21d2718e,2017-10-15 22:35:21,94.99,14.41,brinquedos,53.0,579.0,1.0,675.0,22.0,24.0,21.0,toys,7bf1567e9cfbae7088c756e852d682b0,2017-10-08 21:18:39,88bce5e4434ac03dae6320686a7f167a,SP,3.0,2017-10-24 00:00:00,2017-10-25 00:34:21
10811,187d43c69480f7f8d6fa58d4aacea5ee,1,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2017-09-13 20:04:13,59.90,17.67,ferramentas_jardim,57.0,366.0,2.0,1650.0,30.0,22.0,30.0,garden_tools,60993e25142e45fa3f14ae20ae76a0cb,2017-09-06 19:41:57,680ca46a7747ede65ea40c92b183a4f4,RJ,5.0,2017-09-27 00:00:00,2017-09-29 20:54:59

In [50]:
# Summary Stats
olist_merged_df.info()
olist_merged_df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113314 entries, 0 to 113313
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   product_category_name          111702 non-null  object
 8   product_name_lenght            111702 non-null  float64
 9   product_description_lenght     111702 non-null  float64
 10  product_photos_qty             111702 non-null  float64
 11  product_weight_g               113296 non-null  float64
 12  product_length_cm              113296 non-null  float64
 13  product_height_cm              113296 non-null  float64
 14  product_width_cm               113296 non-null  float64
 15  product_category_name_english  111678 non-null  object
 16  customer_id                    113314 non-null  object
 17  order_purchase_timestamp       113314 non-null  object
 18  customer_unique_id             113314 non-null  object
 19  customer_state                 113314 non-null  object
 20  review_score                   112372 non-null  float64
dtypes: float64(10), int64(1), object(10)
memory usage: 18.2+ MB

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,customer_id,order_purchase_timestamp,customer_unique_id,customer_state,review_score
count,113314,113314.000000,113314,113314,113314,113314.000000,113314.000000,111702,111702.000000,111702.000000,111702.000000,113296.000000,113296.000000,113296.000000,113296.000000,111678,113314,113314,113314,113314,112372.000000
unique,98666,NaN,32951,3095,93318,NaN,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,98666,98112,95420,27,NaN
top,5a3b1c29a49756e75f1ef513383c0c12,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-10-24 13:06:21,NaN,NaN,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bed_bath_table,be1c4e52bb71e0c54b11a26b8e8d59f2,2017-10-17 13:06:29,d97b3cfb22b0d6b25ac9ed4e9c2d481b,SP,NaN
freq,22,NaN,527,2039,22,NaN,NaN,11270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11270,22,22,24,47720,NaN
mean,NaN,1.198528,NaN,NaN,NaN,120.478701,19.979428,NaN,48.777560,786.899250,2.206908,2091.915037,30.162495,16.584513,23.003539,NaN,NaN,NaN,NaN,NaN,4.032473
std,NaN,0.707016,NaN,NaN,NaN,183.279678,15.783227,NaN,10.024616,651.758866,1.719500,3749.804597,16.151737,13.439206,11.708481,NaN,NaN,NaN,NaN,NaN,1.387849
min,NaN,1.000000,NaN,NaN,NaN,0.850000,0.000000,NaN,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,1.000000,NaN,NaN,NaN,39.900000,13.080000,NaN,42.000000,348.000000,1.000000,300.000000,18.000000,8.000000,15.000000,NaN,NaN,NaN,NaN,NaN,4.000000
50%,NaN,1.000000,NaN,NaN,NaN,74.900000,16.260000,NaN,52.000000,601.000000,1.000000,700.000000,25.000000,13.000000,20.000000,NaN,NaN,NaN,NaN,NaN,5.000000
75%,NaN,1.000000,NaN,NaN,NaN,134.900000,21.150000,NaN,57.000000,985.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,NaN,NaN,NaN,NaN,NaN,5.000000
max,NaN,21.000000,NaN,NaN,NaN,6735.000000,409.680000,NaN,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,NaN,NaN,NaN,NaN,NaN,5.000000

In [57]:
# Checking for duplicate rows
print("Duplicates rows in olist:", olist_merged_df.duplicated().sum())

# Olist has 399 duplicate rows, drop them.
olist_merged_df = olist_merged_df.drop_duplicates(keep="first")

Duplicates rows in olist: 0

In [63]:
# verify unique values
print(olist_merged_df.shape[0])
for col in olist_merged_df.columns:
    print(f"{col} - {olist_merged_df[col].dtype} - ")
    # unique_vals = olist_merged_df[col].unique()
    # print(f"{col}: {len(unique_vals)}")

112915
order_id - object -
order_item_id - int64 -
product_id - object -
seller_id - object -
shipping_limit_date - object -
price - float64 -
freight_value - float64 -
product_category_name - object -
product_name_lenght - float64 -
product_description_lenght - float64 -
product_photos_qty - float64 -
product_weight_g - float64 -
product_length_cm - float64 -
product_height_cm - float64 -
product_width_cm - float64 -
product_category_name_english - object -
customer_id - object -
order_purchase_timestamp - object -
customer_unique_id - object -
customer_state - object -
review_score - float64 -

In [ ]:
# Checking inconsistensies


# Product IDs shouldn"t map to multiple categories
product_counts = olist_products_df.groupby("product_id")["product_category_name"].nunique()
print(product_counts.value_counts())

# 610 Olist products above are mapped to 0 categories. There is no meaningful information about 
# what they are, these rows can be discarded as they will not serve a purpose to the output of a 
# model.

# Drop those 610 rows
no_category_id = product_counts[product_counts == 0].index

In [ ]:
# Mean, Median, Mode
df_mmm_stats(olist_merged_df)

In [ ]:
# Olist Null counts
print(olist_merged_df.isna().sum())
print(olist_merged_df.shape)

In [ ]:
# Olist: Checking for orders delivered before purchase (which doesn"t make sense)
olist_orders_df_raw["order_purchase_timestamp"] = pd.to_datetime(olist_orders_df_raw["order_purchase_timestamp"])
olist_orders_df_raw["order_delivered_customer_date"] = pd.to_datetime(olist_orders_df_raw["order_delivered_customer_date"])
olist_orders_df_raw[
    olist_orders_df_raw["order_delivered_customer_date"] < olist_orders_df_raw["order_purchase_timestamp"]
]

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.

In [ ]:
# fake data similar to the line chart in storytelling with data page 1
years = np.array([2010, 2011, 2012, 2013, 2014, 2015])
data = {
"Arts & culture":     [80, 25, 28, 40, 32, 45],
"Education":          [20, 78, 45, 65, 63, 58],
"Health":             [65, 52, 60, 63, 68, 93],
"Human services":     [60, 85, 78, 60, 89, 55],
"Other":              [30, 30, 45, 27, 47, 30]}

# plot lines 
plt.figure(figsize=(8, 6))
for label, values in data.items():
    plt.plot(years, values, label=label)


plt.title("Non Profit Support")
plt.ylabel("Percentage of support")
plt.xlabel("Year")
# ticks for the axes
plt.xticks(years)
plt.yticks(np.arange(0, 101, 10))
plt.ylim(0, 100)
plt.legend()
plt.grid(False)
plt.tight_layout()

plt.show()